<h1>Home</h1>
<a href="<%= new_image_path %>">New Image</a><br>

<% flash.each do |type, message| %>
  <div class="js-flash-<%= type %>"><%= message %></div>
<% end %>

<% if @tag && @images.empty? %>
  <p>No image includes the tag #<%= @tag %>. <a href="<%= images_path %>">All images</a></p>
<% else %>
  <% if @tag %>
    <p>Showing images with tag #<%= @tag %>. <a href="<%= images_path %>">All images</a></p>
  <% else %>
    <p>Showing all images.</p>
  <% end %>

  <div class="image-card-list">
    <% @images.reverse_each do |image| %>
      <div class="image-card">
        <a href="<%= image_path(image) %>" class="image-link">
          <img src="<%= image.url %>" width="400">
        </a>
        <% image.tags.each do |tag| %>
          <a href="<%= images_path(tag: tag.name) %>" class="image-tag">#<%= tag %></a>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
<% end %>



