<h1>Showing image <%= @image.id %></h1>

<span>Tags:</span>
<% if @image.tags.empty? %>
  <p>No tag is available for this image.</p>
<% else %>
  <% @image.tags.each do |tag| %>
    <a href="<%= images_path(tag: tag.name) %>" class="image-tag">#<%= tag %></a>
  <% end %>
<% end %>
<br>

<%= link_to "Delete this image", image_path(@image),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>

<img src="<%= @image.url%>" width="600"/>
<a href="<%= images_path %>" class="js-link-home">&lt;Home</a>
